.wrapper {
    margin: 15px;
    display: grid;
    grid-row-gap: 20px;
    grid-template-columns: repeat(5, 1fr);
}

.header {
    justify-content: center;
    grid-column: 1 / span 5; 
    padding-top: 30px;

    @media (min-width: $sm) {
        grid-column: span 3 / 5;    
    }

    @media (min-width: $lg) {
        grid-column: span 3 / 5;   
    }
}

.content {
    grid-column: 1 / span 5;

    @media (min-width: $sm) {
        grid-column: 2 / span 3;
    }

    @media (min-width: $lg) {
        grid-column: 2 / span 3;          
    }
}

.projects {
    display: grid;
    grid-column-gap: 15px;
    grid-row-gap: 15px;
    grid-template-columns: repeat(1, 1fr);
    padding-top: 20px;
    
    @media (min-width: $lg) {
        grid-template-columns: repeat(3, 1fr);
    }   
}

.project {
    background: #6b536a;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #6b536a, #b094aa);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #6b536a, #b094aa); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ #c09696 */
    padding: 10px;
    border-radius: 3px;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: $headerFont;
    transition: background ease 3s;

    &:hover {
        background: #6b536a;
    }
}

.footer {
    grid-column: 1 / span 5;
    display: flex;
    align-items: center;
    flex-direction: column;

    @media (min-width: $sm) {
        grid-column: 1 / span 5;        
    }
}