$mainFont: 'Work Sans';
$headerFont: 'Cutive';

h1, h2, h3 {
    font-family: $headerFont;   
}

h1 {
    font-size: 2.25rem;
}

h2, h3 {
    font-size: 1.75rem;
}

body {
    font-family: $mainFont;
    line-height: 1.5;
}

a {
    color: rgb(77, 15, 201);
    padding: 5px 1px 5px 1px;   
    background-image: linear-gradient(to right,
    rgb(77, 15, 201),
    rgb(77, 15, 201),
    50%,
    transparent 50%,
    transparent);
    background-position: 100% 0;
    background-size: 200% 100%;
    transition: all .2s ease-in;
}    
        
a:hover { 
	background-position: 0 0; 
	color: #fff; 
}